extends layout

block htmlhead
	link(rel='stylesheet', href='/css/signin.css')
	
block content
	.container
	form.form-signin(action="http://localhost:4000/login", method="post")
		h2.form-signin-heading Please sign in
		input.form-control(id="user", type="text", placeholder="Email address", autofocus)
		input.form-control(id="password", type="password", placeholder="Password")
		label.checkbox Remember me
			input(type="checkbox", value="remember-me") 
		button.btn.btn-lg.btn-primary.btn-block(type="submit") Sign in