<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../public/img/favicon.ico">

    <title>Hegemon</title>

    <link href="../public/css/core-styles.css" rel="stylesheet">
    <link href="../public/css/font-awesome.min.css" rel="stylesheet">

 </head>

  <body class="home">

    <div class="navbar navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">Hegemon</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="info/overview.html">Overview</a></li>
            <li><a href="info/survey.html">Survey</a></li>
            <li><a href="info/features.html">Features</a></li>
            <li><a href="info/playground.html">Playground</a></li>
            <li><a href="characters.html">Log in <i class="fa fa-enter"></i></a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container-fluid"><!-- 
    	<div class="row">
    		<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
    			<h1>Rule your game</h1>
    		</div>
    	</diV> -->
      	<div class="row homeblock">
          <h1>Rule your game</h1>
      		<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 blackshade">
      			<h2 class="subtitle">Manage your tabletop RPG characters and campaigns in the cloud</h2>
            <!-- <h3>Start now!</h3> -->
            <div class="row cards">
              <section class="col-sm-4 col-sm-offset-2 col-md-3 col-md-offset-3">
                  <a href="charsheet.html">
                  <div>
                      <header>
                          <h2>Create a <br />character</h2>
                      </header>
                      <img src="../public/img/menu-icons/design-b.png" />
                  </div>
                  </a>
              </section>
              <section class="col-sm-4 col-md-3 col-lg-3">
                  <a href="campaigns.html">
                  <div>
                      <header>
                          <h2>Plan a <br/>campaign</h2>
                      </header>
                      <img src="../public/img/menu-icons/campaign-b.png" />
                  </div>
                  </a>
              </section>
            </div>
      		</div>
      	</div>
    </div>
        






<!--         <div class="col-sm-2 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="characters.html"><img src="../public/img/menu-icons/characters.png" />Characters</a></li>
            <li><a href="companies.html"><img src="../public/img/menu-icons/companies.png" />Companies</a></li>
            <li><a href="campaigns.html"><img src="../public/img/menu-icons/campaigns.png" />Campaigns</a></li>
            <li class="active"><a href="sessions.html"><img src="../public/img/menu-icons/session.png" />Sessions</a></li>
            <li><a href="reference.html"><img src="../public/img/menu-icons/reference.png" />Reference</a></li>
          </ul>
        </div>
        <div class="col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Sessions</h1>
          <div class="row cards">
            <div class="col-xs-12 XXcol-lg-6">
                <a href="charsheet.html">
                  <div>
                    <header>
                        <time class="calendar" datetime="">20 Jul<br/><i class="fa fa-clock-o"></i> 20:00 h</time>
                      <h2>The Coding of the Platform</h2>
                      <p>Next session will be at ED's home next Saturday.</p>
                    </header>
                    <ul class="company col-sm-6"> 
                      <li class="accepted"><img src="../public/img/avatars/dice.jpg"/></li>
                      <li><i class="fa fa-ellipsis-v"></i></li>
                      <li class="pending"><img src="../public/img/avatars/ed.jpg"/></li>
                      <li class="accepted"><img src="../public/img/avatars/leandro.jpg"/></li>
                      <li class="declined"><img src="../public/img/avatars/caritas.jpg"/></li>
                    </ul>
                    <ul class="confirm Xcol-sm-6">
                      <li class="accept"><i class="fa fa-check-circle"></i> Accept</li>
                      <li class="decline"><i class="fa fa-times-circle"></i> Decline</li>
                      <li class="propose"><i class="fa fa-refresh"></i> Propose change</li>
                    </ul>
                  </div>
                </a>
            </div>
          </div>
        </div>
      </div> -->

      <div id="legal"><small>© 2014 Hegemon<br /><a href="info/legal.html">Terms and conditions</a></small></div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../public/js/lib/jquery.min.js"></script>
    <script src="../public/js/lib/bootstrap.min.js"></script>
  
  </body>
</html>
