
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="img/favicon.ico">

    <title>Character Sheet - AD&D 3.5</title>

    <!-- Bootstrap core CSS -->
    <!--<link href="css/bootstrap.min.css" rel="stylesheet">-->

    <!-- Custom styles for this template -->

    <link href="css/DD_charsheet.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <article id="charsheet">

		<section id="logo">
			<img src="img/logo-d&d.jpg" alt="Dungeons & Dragons">
		</section>
		
		<section id="charInfo">
			<div class="longest">
				<input type="text" class="line" name="charName" tabindex="1">
				<label for="charName">Character name</label>
			</div>
			<div class="longest">
				<input type="text" class="line" name="charPlayer" tabindex="2">
				<label for="charPlayer">Player name</label>
			</div>
			<div class="long">
				<input type="text" class="line" name="charClass" tabindex="3">
				<label for="charClass">Class</label>
			</div>
			<div class="short">
				<input type="text" class="line" name="charLevel" tabindex="4">
				<label for="charLevel">Level</label>
			</div>
			<div class="wide">
				<input type="text" class="line" name="charRace" tabindex="5">
				<label for="charRace">Race</label>
			</div>
			<div class="wide">
				<input type="text" class="line" name="charAlignment" tabindex="6">
				<label for="charAlignment">Alignment</label>
			</div>
			<div class="wide">
				<input type="text" class="line" name="charDeity" tabindex="7">
				<label for="charDeity">Deity</label>
			</div>
			<div class="short">
				<input type="text" class="line" name="charSize" tabindex="8">
				<label for="charSize">Size</label>
			</div>
			<div class="short">
				<input type="text" class="line" name="charAge" tabindex="9">
				<label for="charAge">Age</label>
			</div>
			<div class="short">
				<input type="text" class="line" name="charGender" tabindex="10">
				<label for="charGender">Gender</label>
			</div>
			<div class="short">
				<input type="text" class="line" name="charHeight" tabindex="11">
				<label for="charHeight">Height</label>
			</div>
			<div class="short">
				<input type="text" class="line" name="charWeight" tabindex="12">
				<label for="charWeight">Weight</label>
			</div>
			<div class="short">
				<input type="text" class="line" name="charEyes" tabindex="13">
				<label for="charEyes">Eyes</label>
			</div>
			<div class="short">
				<input type="text" class="line" name="charHair" tabindex="14">
				<label for="charHair">Hair</label>
			</div>
			<div class="short">
				<input type="text" class="line" name="charSkin" tabindex="15">
				<label for="charSkin">Skin</label>
			</div>
		</section>
		
		<div class="clear"></div>
		
		<section id="abilities">
			<div class="title">
				<h3 class="h2">Ability name</h3>
				<h3 class="box">Ability score</h3>
				<h3 class="box">Ability modifier</h3>
				<h3 class="box shade">Temporary score</h3>
				<h3 class="box shade">Temporary modifier</h3>
			</div>
			<div id="STR">
				<h2>STR <span>Strength</span></h2>
				<input type="text" class="box" name="STR-score" tabindex="16">
				<input type="text" class="box" name="STR-mod" readonly />
				<input type="text" class="box shade" name="STR-t-score" readonly />
				<input type="text" class="box shade" name="STR-t-mod" readonly />
			</div>
			<div id="DEX">
				<h2>DEX <span>Dexterity</span></h2>
				<input type="text" class="box" name="DEX-score" tabindex="17">
				<input type="text" class="box" name="DEX-mod" readonly />
				<input type="text" class="box shade" name="DEX-t-score" readonly />
				<input type="text" class="box shade" name="DEX-t-mod" readonly />
			</div>
			<div id="CON">
				<h2>CON <span>Constitution</span></h2>
				<input type="text" class="box" name="CON-score" tabindex="18"/>
				<input type="text" class="box" name="CON-mod" readonly />
				<input type="text" class="box shade" name="CON-t-score" readonly />
				<input type="text" class="box shade" name="CON-t-mod" readonly />
			</div>
			<div id="INT">
				<h2>INT <span>Intelligence</span></h2>
				<input type="text" class="box" name="INT-score" tabindex="19"/>
				<input type="text" class="box" name="INT-mod" readonly />
				<input type="text" class="box shade" name="INT-t-score" readonly />
				<input type="text" class="box shade" name="INT-t-mod" readonly />
			</div>
			<div id="WIS">
				<h2>WIS <span>Wisdom</span></h2>
				<input type="text" class="box" name="WIS-score" tabindex="20">
				<input type="text" class="box" name="WIS-mod" readonly />
				<input type="text" class="box shade" name="WIS-t-score" readonly />
				<input type="text" class="box shade" name="WIS-t-mod" readonly />
			</div>
			<div id="CHA">
				<h2>CHA <span>Charisma</span></h2>
				<input type="text" class="box" name="CHA-score" tabindex="21">
				<input type="text" class="box" name="CHA-mod" readonly />
				<input type="text" class="box shade" name="CHA-t-score" readonly />
				<input type="text" class="box shade" name="CHA-t-mod" readonly />
			</div>
		</section>
		
		<section id="hitPoints">
			<div class="title">
				<h3 class="h2"></h3>
				<h3 class="box total">Total</h3>
				<h3 class="box longest">Wounds / Current HP</h3>
				<h3 class="box wide">Nonlethal damage</h3>
				<h3 class="box title longer">Speed</h3>
			</div>
			<div id="HP">
				<h2>HP <span>Hit points</span></h2>
				<input type="text" class="box total" name="HP-total" readonly />
				<input type="text" class="box longest" name="HP-current">
				<input type="text" class="box wide" name="HP-nonlethal">
				<input type="text" class="box title longer" name="Speed" readonly />
			</div>
			<div id="AC">
				<h2>AC <span>Armor class</span></h2>
				<input type="text" class="box total" name="AC-total" readonly /> = 10 + 
				<input type="text" class="box" name="AC-armor" readonly /> + 
				<input type="text" class="box" name="AC-shield" readonly /> + 
				<input type="text" class="box" name="AC-DEX-mod" readonly /> + 
				<input type="text" class="box" name="AC-size-mod" readonly /> + 
				<input type="text" class="box" name="AC-natural" readonly /> + 
				<input type="text" class="box" name="AC-defl-mod" readonly /> + 
				<input type="text" class="box" name="AC-misc-mod"> &nbsp;  
				<input type="text" class="box wide" name="AC-damage-red">
			</div>
			<div class="title">
				<h3 class="h2"></h3>
				<h3 class="box total">Total</h3>
				<h3 class="box">Armor bonus</h3>
				<h3 class="box">Shield bonus</h3>
				<h3 class="box">DEX modifier</h3>
				<h3 class="box">Size modifier</h3>
				<h3 class="box">Natural armor</h3>
				<h3 class="box">Deflection modifier</h3>
				<h3 class="box">Misc modifier</h3>
				<h3 class="box wide">Damage reduction</h3>
			</div>
	  </section>
		
		<section id="fight">
		  	<div>
		  		<h2>Touch <span>Armor class</span></h2>
				<input type="text" class="box" name="AC-touch" readonly />
		  		<h2 class="wide">Flat-footed <span>Armor class</span></h2>
				<input type="text" class="box" name="AC-footed" readonly />
			</div>
			<div>
		  		<h2 class="wide">Initiative <span>modifier</span></h2>
				<input type="text" class="box total" name="INI-total" readonly /> = 
				<input type="text" class="box" name="INI-DEX-mod" readonly /> + 
				<input type="text" class="box" name="INI-misc-mod" readonly /> 
			</div>
			<div class="title">
				<h3 class="h2"></h3>
				<h3 class="box total">Total</h3>
				<h3 class="box">DEX modifier</h3>
				<h3 class="box">Misc modifier</h3>
			</div>
	  </section>
		
		<section id="skills">
			<div class="title">
		  	<h2>Skills</h2>
		  	<h3 class="label">Skill name</h3>
		  	<h3>Key ability</h3>
		  	<h3>Skill modifier</h3>
		  	<h3>Ability modifier</h3>
		  	<h3>Ranks</h3>
		  	<h3>Misc modifier</h3>
	  	</div>
		  	<div class="skill basic" id="skill-appraise">
	  		<label><input type="checkbox" name="" />Appraise</label>
	  		<input type="text" class="key" name="appraise-key" value="INT"/>
	  		<input type="text" class="box" name="appraise-mod" readonly /> = 
	  		<input type="text" class="line" name="appraise-abil" readonly /> + 
	  		<input type="text" class="line" name="appraise-rank" /> + 
	  		<input type="text" class="line" name="appraise-mis" readonly />
	  	</div>
		  	<div class="skill basic" id="skill-balance">
	  		<label><input type="checkbox" name="" />Balance</label>
	  		<input type="text" class="key" name="balance-key" value="DEX"/>
	  		<input type="text" class="box" name="balance-mod" readonly /> = 
	  		<input type="text" class="line" name="balance-abil" readonly /> + 
	  		<input type="text" class="line" name="balance-rank" /> + 
	  		<input type="text" class="line" name="balance-mis" readonly />
	  	</div>
		  	<div class="skill basic" id="skill-bluff">
	  		<label><input type="checkbox" name="" />Bluff</label>
	  		<input type="text" class="key" name="bluff-key" value="CHA"/>
	  		<input type="text" class="box" name="bluff-mod" readonly /> = 
	  		<input type="text" class="line" name="bluff-abil" readonly /> + 
	  		<input type="text" class="line" name="bluff-rank" /> + 
	  		<input type="text" class="line" name="bluff-mis" readonly />
	  	</div>
		  	<div class="skill basic" id="skill-climb">
	  		<label><input type="checkbox" name="" />Climb</label>
	  		<input type="text" class="key" name="climb-key" value="STR"/>
	  		<input type="text" class="box" name="climb-mod" readonly /> = 
	  		<input type="text" class="line" name="climb-abil" readonly /> + 
	  		<input type="text" class="line" name="climb-rank" /> + 
	  		<input type="text" class="line" name="climb-mis" readonly />
	  	</div>
		  	<div class="skill basic" id="skill-concentration">
	  		<label><input type="checkbox" name="" />Concentration</label>
	  		<input type="text" class="key" name="concentration-key" value="CON"/>
	  		<input type="text" class="box" name="concentration-mod" readonly /> = 
	  		<input type="text" class="line" name="concentration-abil" readonly /> + 
	  		<input type="text" class="line" name="concentration-rank" /> + 
	  		<input type="text" class="line" name="concentration-mis" readonly />
	  	</div>
		  	<div class="skill basic" id="skill-craft">
	  		<label><input type="checkbox" name="" />Craft</label>
	  		<input type="text" class="key" name="craft-key" value="INT"/>
	  		<input type="text" class="box" name="craft-mod" readonly /> = 
	  		<input type="text" class="line" name="craft-abil" readonly /> + 
	  		<input type="n" class="line" name="craft-rank" /> + 
	  		<input type="text" class="line" name="craft-mis" readonly />
	  	</div>
		  	<div class="skill" id="skill-decipher">
	  		<label><input type="checkbox" name="" />Decipher script</label>
	  		<input type="text" class="key" name="decipher-key" value="INT"/>
	  		<input type="text" class="box" name="decipher-mod" readonly /> = 
	  		<input type="text" class="line" name="decipher-abil" readonly /> + 
	  		<input type="text" class="line" name="decipher-rank" /> + 
	  		<input type="text" class="line" name="decipher-mis" readonly />
	  	</div>
		  	<div class="skill basic" id="skill-diplomacy">
	  		<label><input type="checkbox" name="" />Diplomacy</label>
	  		<input type="text" class="key" name="diplomacy-key" value="CHA"/>
	  		<input type="text" class="box" name="diplomacy-mod" readonly /> = 
	  		<input type="text" class="line" name="diplomacy-abil" readonly /> + 
	  		<input type="text" class="line" name="diplomacy-rank" /> + 
	  		<input type="text" class="line" name="diplomacy-mis" readonly />
	  	</div>
		  	<div class="skill" id="skill-disable">
	  		<label><input type="checkbox" name="" />Disable device</label>
	  		<input type="text" class="key" name="disable-key" value="INT"/>
	  		<input type="text" class="box" name="disable-mod" readonly /> = 
	  		<input type="text" class="line" name="disable-abil" readonly /> + 
	  		<input type="text" class="line" name="disable-rank" /> + 
	  		<input type="text" class="line" name="disable-mis" readonly />
	  	</div>
		  	<div class="skill basic" id="skill-disguise">
	  		<label><input type="checkbox" name="" />Disguise</label>
	  		<input type="text" class="key" name="disguise-key" value="CHA"/>
	  		<input type="text" class="box" name="disguise-mod" readonly /> = 
	  		<input type="text" class="line" name="disguise-abil" readonly /> + 
	  		<input type="text" class="line" name="disguise-rank" /> + 
	  		<input type="text" class="line" name="disguise-mis" readonly />
	  	</div>
		  	<div class="skill basic" id="skill-escape">
	  		<label><input type="checkbox" name="" />Escape artist</label>
	  		<input type="text" class="key" name="escape-key" value="DEX"/>
	  		<input type="text" class="box" name="escape-mod" readonly /> = 
	  		<input type="text" class="line" name="escape-abil" readonly /> + 
	  		<input type="text" class="line" name="escape-rank" /> + 
	  		<input type="text" class="line" name="escape-mis" readonly />
	  	</div>
		  	<div class="skill basic" id="skill-forgery">
	  		<label><input type="checkbox" name="" />Forgery</label>
	  		<input type="text" class="key" name="forgery-key" value="INT"/>
	  		<input type="text" class="box" name="forgery-mod" readonly /> = 
	  		<input type="text" class="line" name="forgery-abil" readonly /> + 
	  		<input type="text" class="line" name="forgery-rank" /> + 
	  		<input type="text" class="line" name="forgery-mis" readonly />
	  	</div>
		  	<div class="skill basic" id="skill-gather">
	  		<label><input type="checkbox" name="" />Gather information</label>
	  		<input type="text" class="key" name="gather-key" value="CHA"/>
	  		<input type="text" class="box" name="gather-mod" readonly /> = 
	  		<input type="text" class="line" name="gather-abil" readonly /> + 
	  		<input type="text" class="line" name="gather-rank" /> + 
	  		<input type="text" class="line" name="gather-mis" readonly />
	  	</div>
		  	<div class="skill" id="skill-animal">
	  		<label><input type="checkbox" name="" />Handle animal</label>
	  		<input type="text" class="key" name="animal-key" value="CHA"/>
	  		<input type="text" class="box" name="animal-mod" readonly /> = 
	  		<input type="text" class="line" name="animal-abil" readonly /> + 
	  		<input type="text" class="line" name="animal-rank" /> + 
	  		<input type="text" class="line" name="animal-mis" readonly />
	  	</div>
		  	<div class="skill basic" id="skill-heal">
	  		<label><input type="checkbox" name="" />Heal</label>
	  		<input type="text" class="key" name="heal-key" value="WIS"/>
	  		<input type="text" class="box" name="heal-mod" readonly /> = 
	  		<input type="text" class="line" name="heal-abil" readonly /> + 
	  		<input type="text" class="line" name="heal-rank" /> + 
	  		<input type="text" class="line" name="heal-mis" readonly />
	  	</div>
		  	<div class="skill basic" id="skill-hide">
	  		<label><input type="checkbox" name="" />Hide</label>
	  		<input type="text" class="key" name="hide-key" value="DEX"/>
	  		<input type="text" class="box" name="hide-mod" readonly /> = 
	  		<input type="text" class="line" name="hide-abil" readonly /> + 
	  		<input type="text" class="line" name="hide-rank" /> + 
	  		<input type="text" class="line" name="hide-mis" readonly />
	  	</div>
		  	<div class="skill basic" id="skill-intimidate">
	  		<label><input type="checkbox" name="" />Intimidate</label>
	  		<input type="text" class="key" name="intimidate-key" value="CHA"/>
	  		<input type="text" class="box" name="intimidate-mod" readonly /> = 
	  		<input type="text" class="line" name="intimidate-abil" readonly /> + 
	  		<input type="text" class="line" name="intimidate-rank" /> + 
	  		<input type="text" class="line" name="intimidate-mis" readonly />
	  	</div>
		  	<div class="skill basic" id="skill-jump">
	  		<label><input type="checkbox" name="" />Jump</label>
	  		<input type="text" class="key" name="jump-key" value="STR"/>
	  		<input type="text" class="box" name="jump-mod" readonly /> = 
	  		<input type="text" class="line" name="jump-abil" readonly /> + 
	  		<input type="text" class="line" name="jump-rank" /> + 
	  		<input type="text" class="line" name="jump-mis" readonly />
	  	</div>
		  	<div class="skill" id="skill-knowledge">
	  		<label><input type="checkbox" name="" />Knowledge</label>
	  		<input type="text" class="key" name="knowledge-key" value="INT"/>
	  		<input type="text" class="box" name="knowledge-mod" readonly /> = 
	  		<input type="text" class="line" name="knowledge-abil" readonly /> + 
	  		<input type="text" class="line" name="knowledge-rank" /> + 
	  		<input type="text" class="line" name="knowledge-mis" readonly />
	  	</div>
		  	<div class="skill basic" id="skill-listen">
	  		<label><input type="checkbox" name="" />Listen</label>
	  		<input type="text" class="key" name="listen-key" value="WIS"/>
	  		<input type="text" class="box" name="listen-mod" readonly /> = 
	  		<input type="text" class="line" name="listen-abil" readonly /> + 
	  		<input type="text" class="line" name="listen-rank" /> + 
	  		<input type="text" class="line" name="listen-mis" readonly />
	  	</div>
		  	<div class="skill basic" id="skill-silentmove">
	  		<label><input type="checkbox" name="" />Move silently</label>
	  		<input type="text" class="key" name="silentmove-key" value="DEX"/>
	  		<input type="text" class="box" name="silentmove-mod" readonly /> = 
	  		<input type="text" class="line" name="silentmove-abil" readonly /> + 
	  		<input type="text" class="line" name="silentmove-rank" /> + 
	  		<input type="text" class="line" name="silentmove-mis" readonly />
	  	</div>
		  	<div class="skill" id="skill-lock">
	  		<label><input type="checkbox" name="" />Open lock</label>
	  		<input type="text" class="key" name="lock-key" value="DEX"/>
	  		<input type="text" class="box" name="lock-mod" readonly /> = 
	  		<input type="text" class="line" name="lock-abil" readonly /> + 
	  		<input type="text" class="line" name="lock-rank" /> + 
	  		<input type="text" class="line" name="lock-mis" readonly />
	  	</div>
		  	<div class="skill" id="skill-perform">
	  		<label><input type="checkbox" name="" />Perform</label>
	  		<input type="text" class="key" name="perform-key" value="CHA"/>
	  		<input type="text" class="box" name="perform-mod" readonly /> = 
	  		<input type="text" class="line" name="perform-abil" readonly /> + 
	  		<input type="text" class="line" name="perform-rank" /> + 
	  		<input type="text" class="line" name="perform-mis" readonly />
	  	</div>
		  	<div class="skill" id="skill-profession">
	  		<label><input type="checkbox" name="" />Profession</label>
	  		<input type="text" class="key" name="profession-key" value="WIS"/>
	  		<input type="text" class="box" name="profession-mod" readonly /> = 
	  		<input type="text" class="line" name="profession-abil" readonly /> + 
	  		<input type="text" class="line" name="profession-rank" /> + 
	  		<input type="text" class="line" name="profession-mis" readonly />
	  	</div>
		  	<div class="skill basic" id="skill-ride">
	  		<label><input type="checkbox" name="" />Ride</label>
	  		<input type="text" class="key" name="ride-key" value="DEX"/>
	  		<input type="text" class="box" name="ride-mod" readonly /> = 
	  		<input type="text" class="line" name="ride-abil" readonly /> + 
	  		<input type="text" class="line" name="ride-rank" /> + 
	  		<input type="text" class="line" name="ride-mis" readonly />
	  	</div>
		  	<div class="skill basic" id="skill-search">
	  		<label><input type="checkbox" name="" />Search</label>
	  		<input type="text" class="key" name="search-key" value="INT"/>
	  		<input type="text" class="box" name="search-mod" readonly /> = 
	  		<input type="text" class="line" name="search-abil" readonly /> + 
	  		<input type="text" class="line" name="search-rank" /> + 
	  		<input type="text" class="line" name="search-mis" readonly />
	  	</div>
		  	<div class="skill basic" id="skill-motive">
	  		<label><input type="checkbox" name="" />Sense Motive</label>
	  		<input type="text" class="key" name="motive-key" value="WIS"/>
	  		<input type="text" class="box" name="motive-mod" readonly /> = 
	  		<input type="text" class="line" name="motive-abil" readonly /> + 
	  		<input type="text" class="line" name="motive-rank" /> + 
	  		<input type="text" class="line" name="motive-mis" readonly />
	  	</div>
		  	<div class="skill" id="skill-sleight">
	  		<label><input type="checkbox" name="" />Sleight of Hand</label>
	  		<input type="text" class="key" name="sleight-key" value="DEX"/>
	  		<input type="text" class="box" name="sleight-mod" readonly /> = 
	  		<input type="text" class="line" name="sleight-abil" readonly /> + 
	  		<input type="text" class="line" name="sleight-rank" /> + 
	  		<input type="text" class="line" name="sleight-mis" readonly />
	  	</div>
		  	<div class="skill" id="skill-spellcraft">
	  		<label><input type="checkbox" name="" />Spellcraft</label>
	  		<input type="text" class="key" name="spellcraft-key" value="DEX"/>
	  		<input type="text" class="box" name="spellcraft-mod" readonly /> = 
	  		<input type="text" class="line" name="spellcraft-abil" readonly /> + 
	  		<input type="text" class="line" name="spellcraft-rank" /> + 
	  		<input type="text" class="line" name="spellcraft-mis" readonly />
	  	</div>
		  	<div class="skill basic" id="skill-spot">
	  		<label><input type="checkbox" name="" />Spot</label>
	  		<input type="text" class="key" name="spot-key" value="DEX"/>
	  		<input type="text" class="box" name="spot-mod" readonly /> = 
	  		<input type="text" class="line" name="spot-abil" readonly /> + 
	  		<input type="text" class="line" name="spot-rank" /> + 
	  		<input type="text" class="line" name="spot-mis" readonly />
	  	</div>
		  	<div class="skill basic" id="skill-survival">
	  		<label><input type="checkbox" name="" />Survival</label>
	  		<input type="text" class="key" name="survival-key" value="DEX"/>
	  		<input type="text" class="box" name="survival-mod" readonly /> = 
	  		<input type="text" class="line" name="survival-abil" readonly /> + 
	  		<input type="text" class="line" name="survival-rank" /> + 
	  		<input type="text" class="line" name="survival-mis" readonly />
	  	</div>
		  	<div class="skill basic" id="skill-swim">
	  		<label><input type="checkbox" name="" />Swim</label>
	  		<input type="text" class="key" name="swim-key" value="DEX"/>
	  		<input type="text" class="box" name="swim-mod" readonly /> = 
	  		<input type="text" class="line" name="swim-abil" readonly /> + 
	  		<input type="text" class="line" name="swim-rank" /> + 
	  		<input type="text" class="line" name="swim-mis" readonly />
	  	</div>
		  	<div class="skill" id="skill-tumble">
	  		<label><input type="checkbox" name="" />Tumble</label>
	  		<input type="text" class="key" name="tumble-key" value="DEX"/>
	  		<input type="text" class="box" name="tumble-mod" readonly /> = 
	  		<input type="text" class="line" name="tumble-abil" readonly /> + 
	  		<input type="text" class="line" name="tumble-rank" /> + 
	  		<input type="text" class="line" name="tumble-mis" readonly />
	  	</div>
		  	<div class="skill" id="skill-magic">
	  		<label><input type="checkbox" name="" />Use magic device</label>
	  		<input type="text" class="key" name="magic-key" value="CHA"/>
	  		<input type="text" class="box" name="magic-mod" readonly /> = 
	  		<input type="text" class="line" name="magic-abil" readonly /> + 
	  		<input type="text" class="line" name="magic-rank" /> + 
	  		<input type="text" class="line" name="magic-mis" readonly />
	  	</div>
		  	<div class="skill basic" id="skill-rope">
	  		<label><input type="checkbox" name="" />Use rope</label>
	  		<input type="text" class="key" name="rope-key" value="DEX"/>
	  		<input type="text" class="box" name="rope-mod" readonly /> = 
	  		<input type="text" class="line" name="rope-abil" readonly /> + 
	  		<input type="text" class="line" name="rope-rank" /> + 
	  		<input type="text" class="line" name="rope-mis" readonly />
	  	</div>
		  	<div class="skill custom" id="skill-custom1">
	  		<label><input type="checkbox" name="" />
	  		<input type="text" class="name" name="custom1-abil" /></label>
	  		<input type="text" class="key line" name="custom1-key" value=""/>
	  		<input type="text" class="box" name="custom1-mod" readonly /> = 
	  		<input type="text" class="line" name="custom1-abil" readonly /> + 
	  		<input type="text" class="line" name="custom1-rank" /> + 
	  		<input type="text" class="line" name="custom1-mis" readonly />
	  	</div>
		  	<div class="skill custom" id="skill-custom2">
	  		<label><input type="checkbox" name="" />
	  		<input type="text" class="name" name="custom2-abil" /></label>
	  		<input type="text" class="key line" name="custom2-key" value=""/>
	  		<input type="text" class="box" name="custom2-mod" readonly /> = 
	  		<input type="text" class="line" name="custom2-abil" readonly /> + 
	  		<input type="text" class="line" name="custom2-rank" /> + 
	  		<input type="text" class="line" name="custom2-mis" readonly />
	  	</div>
		  	<div class="skill custom" id="skill-custom3">
	  		<label><input type="checkbox" name="" />
	  		<input type="text" class="name" name="custom3-abil" /></label>
	  		<input type="text" class="key line" name="custom3-key" value=""/>
	  		<input type="text" class="box" name="custom3-mod" readonly /> = 
	  		<input type="text" class="line" name="custom3-abil" readonly /> + 
	  		<input type="text" class="line" name="custom3-rank" /> + 
	  		<input type="text" class="line" name="custom3-mis" readonly />
	  	</div>
		  	<div class="skill custom" id="skill-custom4">
	  		<label><input type="checkbox" name="" />
	  		<input type="text" class="name" name="custom4-abil" /></label>
	  		<input type="text" class="key line" name="custom4-key" value=""/>
	  		<input type="text" class="box" name="custom4-mod" readonly /> = 
	  		<input type="text" class="line" name="custom4-abil" readonly /> + 
	  		<input type="text" class="line" name="custom4-rank" /> + 
	  		<input type="text" class="line" name="custom4-mis" readonly />
	  	</div>
		  	<div class="skill custom" id="skill-custom5">
	  		<label><input type="checkbox" name="" />
	  		<input type="text" class="name" name="custom5-abil" /></label>
	  		<input type="text" class="key line" name="custom5-key" value=""/>
	  		<input type="text" class="box" name="custom5-mod" readonly /> = 
	  		<input type="text" class="line" name="custom5-abil" readonly /> + 
	  		<input type="text" class="line" name="custom5-rank" /> + 
	  		<input type="text" class="line" name="custom5-mis" readonly />
	  	</div>
		  	<div class="skill custom" id="skill-custom6">
	  		<label><input type="checkbox" name="" />
	  		<input type="text" class="name" name="custom6-abil" /></label>
	  		<input type="text" class="key line" name="custom6-key" value=""/>
	  		<input type="text" class="box" name="custom6-mod" readonly /> = 
	  		<input type="text" class="line" name="custom6-abil" readonly /> + 
	  		<input type="text" class="line" name="custom6-rank" /> + 
	  		<input type="text" class="line" name="custom6-mis" readonly />
	  	</div>
		  	<div class="skill custom" id="skill-custom7">
	  		<label><input type="checkbox" name="" />
	  		<input type="text" class="name" name="custom7-abil" /></label>
	  		<input type="text" class="key line" name="custom7-key" value=""/>
	  		<input type="text" class="box" name="custom7-mod" readonly /> = 
	  		<input type="text" class="line" name="custom7-abil" readonly /> + 
	  		<input type="text" class="line" name="custom7-rank" /> + 
	  		<input type="text" class="line" name="custom7-mis" readonly />
	  	</div>
		  	<div class="skill custom" id="skill-custom8">
	  		<label><input type="checkbox" name="" />
	  		<input type="text" class="name" name="custom8-abil" /></label>
	  		<input type="text" class="key line" name="custom8-key" value=""/>
	  		<input type="text" class="box" name="custom8-mod" readonly /> = 
	  		<input type="text" class="line" name="custom8-abil" readonly /> + 
	  		<input type="text" class="line" name="custom8-rank" /> + 
	  		<input type="text" class="line" name="custom8-mis" readonly />
	  	</div>
		  	<div class="skill custom" id="skill-custom9">
	  		<label><input type="checkbox" name="" />
	  		<input type="text" class="name" name="custom9-abil" /></label>
	  		<input type="text" class="key line" name="custom9-key" value=""/>
	  		<input type="text" class="box" name="custom9-mod" readonly /> = 
	  		<input type="text" class="line" name="custom9-abil" readonly /> + 
	  		<input type="text" class="line" name="custom9-rank" /> + 
	  		<input type="text" class="line" name="custom9-mis" readonly />
	  	</div>
		  	<div class="skill custom" id="skill-custom10">
	  		<label><input type="checkbox" name="" />
	  		<input type="text" class="name" name="custom10-abil" /></label>
	  		<input type="text" class="key line" name="custom10-key" value=""/>
	  		<input type="text" class="box" name="custom10-mod" readonly /> = 
	  		<input type="text" class="line" name="custom10-abil" readonly /> + 
	  		<input type="text" class="line" name="custom10-rank" /> + 
	  		<input type="text" class="line" name="custom10-mis" readonly />
	  	</div>
		  	<div class="skill custom" id="skill-custom11">
	  		<label><input type="checkbox" name="" />
	  		<input type="text" class="name" name="custom11-abil" /></label>
	  		<input type="text" class="key line" name="custom11-key" value=""/>
	  		<input type="text" class="box" name="custom11-mod" readonly /> = 
	  		<input type="text" class="line" name="custom11-abil" readonly /> + 
	  		<input type="text" class="line" name="custom11-rank" /> + 
	  		<input type="text" class="line" name="custom11-mis" readonly />
	  	</div>
		</section>
		
		<section id="saving">
			<div class="title">
				<h3 class="h2">Saving throws</h3>
				<h3 class="box">Total</h3>
				<h3 class="box">Base save</h3>
				<h3 class="box">Ability modifier</h3>
				<h3 class="box">Magic modifier</h3>
				<h3 class="box">Misc modifier</h3>
				<h3 class="box">Temporary modifier</h3>
				<h3 class="notes">Conditional modifiers</h3>
			</div>
			<div class="rows">
				<div id="FOR">
					<h2>Fortitude <span>(Constitution)</span></h2>
					<input type="text" class="box total" name="FOR-total"  readonly /> = 
					<input type="text" class="box" name="FOR-base-save"  readonly /> + 
					<input type="text" class="box" name="FOR-abil-mod"  readonly /> + 
					<input type="text" class="box" name="FOR-magic-mod"  readonly /> + 
					<input type="text" class="box" name="FOR-misc-mod"  readonly /> + 
					<input type="text" class="box shade" name="FOR-t-mod">
				</div>
				<div id="REF">
					<h2>Reflex <span>(Desterity)</span></h2>
					<input type="text" class="box total" name="REF-total" readonly /> = 
					<input type="text" class="box" name="REF-base-save" readonly /> + 
					<input type="text" class="box" name="REF-abil-mod" readonly /> + 
					<input type="text" class="box" name="REF-magic-mod" readonly /> + 
					<input type="text" class="box" name="REF-misc-mod" readonly /> + 
					<input type="text" class="box shade" name="REF-t-mod">
				</div>
				<div id="WIL">
					<h2>Will <span>(Wisdom)</span></h2>
					<input type="text" class="box total" name="WIL-total" readonly /> = 
					<input type="text" class="box" name="WIL-base-save" readonly /> + 
					<input type="text" class="box" name="WIL-abil-mod" readonly /> + 
					<input type="text" class="box" name="WIL-magic-mod" readonly /> + 
					<input type="text" class="box" name="WIL-misc-mod" readonly /> + 
					<input type="text" class="box shade" name="WIL-t-mod">
				</div>
			</div>
			<div id="notes">
				<textarea></textarea>
			</div>
	  </section>
		
		<section id="attackInfo">
			<div>
		  		<h2 class="long">Base attack bonus</h2>
				<input type="text" class="box" name="AC-touch" readonly />
		  		<h2 class="wide">Spell resistance</h2>
				<input type="text" class="box" name="AC-footed" readonly />
			</div>
			<div>
		  		<h2>Grapple <span>modifier</span></h2>
				<input type="text" class="box total" name="GRA-total" readonly /> = 
				<input type="text" class="box wide" name="GRA-base" readonly /> + 
				<input type="text" class="box" name="GRA-STR-mod" readonly /> + 
				<input type="text" class="box" name="GRA-size-mod" readonly /> + 
				<input type="text" class="box" name="GRA-misc-mod"> 
			</div>
			<div class="title">
		  		<h3 class="h2"></h3>
				<h3 class="box total">Total</h3>
				<h3 class="box wide">Base attack bonus</h3> 
				<h3 class="box">Strength modifier</h3> 
				<h3 class="box">Size modifier</h3> 
				<h3 class="box">Misc modifier</h3> 
			</div>
		</section>
		
		<section id="attackList">
			<div class="attack">
	    		<div class="wide">
	    			<label for="">Attack</label>
					<input type="text" name="attack-1" />
	    		</div>
	    		<div class="wide">
	    			<label for="">Attack bonus</label>
					<input type="text" name="at-bonus-1" />
	    		</div>
	    		<div class="box">
	    			<label for="">Damage</label>
					<input type="text" name="at-damage-1" />
	    		</div>
	    		<div class="box">
	    			<label for="">Critical</label>
					<input type="text" name="at-critical-1" />
	    		</div>
	    		<div class="box">
	    			<label for="">Range</label>
					<input type="text" name="at-range-1" />
	    		</div>
	    		<div class="box">
	    			<label for="">Type</label>
					<input type="text" name="at-type-1" />
	    		</div>
	    		<div class="long">
	    			<label for="">Notes</label>
					<input type="text" name="at-notes-1" />
	    		</div>
	    		<div class="ammo">
		    		<span>Ammunition</span>
		    		<input class="line" type="text" name="at-ammo-1" />
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" /> 
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" /> 
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" /> 
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" />
	    		</div>
			</div>
			<div class="attack">
	    		<div class="wide">
	    			<label for="">Attack</label>
					<input type="text" name="attack-2" />
	    		</div>
	    		<div class="wide">
	    			<label for="">Attack bonus</label>
					<input type="text" name="at-bonus-2" />
	    		</div>
	    		<div class="box">
	    			<label for="">Damage</label>
					<input type="text" name="at-damage-2" />
	    		</div>
	    		<div class="box">
	    			<label for="">Critical</label>
					<input type="text" name="at-critical-2" />
	    		</div>
	    		<div class="box">
	    			<label for="">Range</label>
					<input type="text" name="at-range-2" />
	    		</div>
	    		<div class="box">
	    			<label for="">Type</label>
					<input type="text" name="at-type-2" />
	    		</div>
	    		<div class="long">
	    			<label for="">Notes</label>
					<input type="text" name="at-notes-2" />
	    		</div>
	    		<div class="ammo">
		    		<span>Ammunition</span>
		    		<input class="line" type="text" name="at-ammo-2" />
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" /> 
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" /> 
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" /> 
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" />
	    		</div>
			</div>
			<div class="attack">
	    		<div class="wide">
	    			<label for="">Attack</label>
					<input type="text" name="attack-3" />
	    		</div>
	    		<div class="wide">
	    			<label for="">Attack bonus</label>
					<input type="text" name="at-bonus-3" />
	    		</div>
	    		<div class="box">
	    			<label for="">Damage</label>
					<input type="text" name="at-damage-3" />
	    		</div>
	    		<div class="box">
	    			<label for="">Critical</label>
					<input type="text" name="at-critical-3" />
	    		</div>
	    		<div class="box">
	    			<label for="">Range</label>
					<input type="text" name="at-range-3" />
	    		</div>
	    		<div class="box">
	    			<label for="">Type</label>
					<input type="text" name="at-type-3" />
	    		</div>
	    		<div class="long">
	    			<label for="">Notes</label>
					<input type="text" name="at-notes-3" />
	    		</div>
	    		<div class="ammo">
		    		<span>Ammunition</span>
		    		<input class="line" type="text" name="at-ammo-3" />
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" /> 
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" /> 
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" /> 
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" />
	    		</div>
			</div>
			<div class="attack">
	    		<div class="wide">
	    			<label for="">Attack</label>
					<input type="text" name="attack-4" />
	    		</div>
	    		<div class="wide">
	    			<label for="">Attack bonus</label>
					<input type="text" name="at-bonus-4" />
	    		</div>
	    		<div class="box">
	    			<label for="">Damage</label>
					<input type="text" name="at-damage-4" />
	    		</div>
	    		<div class="box">
	    			<label for="">Critical</label>
					<input type="text" name="at-critical-4" />
	    		</div>
	    		<div class="box">
	    			<label for="">Range</label>
					<input type="text" name="at-range-4" />
	    		</div>
	    		<div class="box">
	    			<label for="">Type</label>
					<input type="text" name="at-type-4" />
	    		</div>
	    		<div class="long">
	    			<label for="">Notes</label>
					<input type="text" name="at-notes-4" />
	    		</div>
	    		<div class="ammo">
		    		<span>Ammunition</span>
		    		<input class="line" type="text" name="at-ammo-4" />
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" /> 
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" /> 
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" /> 
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" />
	    		</div>
			</div>
			<div class="attack">
	    		<div class="wide">
	    			<label for="">Attack</label>
					<input type="text" name="attack-5" />
	    		</div>
	    		<div class="wide">
	    			<label for="">Attack bonus</label>
					<input type="text" name="at-bonus-5" />
	    		</div>
	    		<div class="box">
	    			<label for="">Damage</label>
					<input type="text" name="at-damage-5" />
	    		</div>
	    		<div class="box">
	    			<label for="">Critical</label>
					<input type="text" name="at-critical-5" />
	    		</div>
	    		<div class="box">
	    			<label for="">Range</label>
					<input type="text" name="at-range-5" />
	    		</div>
	    		<div class="box">
	    			<label for="">Type</label>
					<input type="text" name="at-type-5" />
	    		</div>
	    		<div class="long">
	    			<label for="">Notes</label>
					<input type="text" name="at-notes-5" />
	    		</div>
	    		<div class="ammo">
		    		<span>Ammunition</span>
		    		<input class="line" type="text" name="at-ammo-5" />
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" /> 
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" /> 
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" /> 
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" />
		    		<input type="checkbox" />
	    		</div>
			</div>
		</section>
		
		<div class="clear"></div>
    </article>

  <script src="js/jquery.min.js"></script>
  <script src="js/add-charsheet.js"></script>  
  </body>
</html>
