<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
        <title>Hegemon: AD&D character sheet online creation tool</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta name="description" content="AD&D character sheet online creation tool" />
        <meta name="keywords" content="ad&d, dungeons, dragons, rpg, dice, d20, role playing, charsheet" />
        <meta name="author" content="Hegemon" />
        <link rel="shortcut icon" href="../favicon.ico"> 
		<link rel="stylesheet" type="text/css" href="../public/css/home.css" />
    </head>
    <body>
        
        <div id="mainContainer">
	        <h1>Hegemon</h1>
	        <h2>Rule your game</h2>
	        <h3>Tienes tres personajes en este equipo</h3>
	        <ul id="availableCharsheets">
	        	<li>
	        		<a href="charsheet-dd.html">
	        			<div class="miniCharsheet">
	        				<p>Oréganal</p>
	        				<img src="../public/img/diablo3-character-profile.jpg" alt="">
	        				<p>Mago elfo de nivel 4</p>
	        			</div>
	        		</a>
	        	</li>
	        	<li>
	        		<a href="charsheet-dd.html">
	        			<div class="miniCharsheet">
	        				<p>Oréganal</p>
	        				<img src="../public/img/diablo3-character-profile.jpg" alt="">
	        				<p>Mago elfo de nivel 4</p>
	        			</div>
	        		</a>
	        	</li>
	        	<li>
	        		<a href="charsheet-dd.html">
	        			<div class="miniCharsheet">
	        				<p>Oréganal</p>
	        				<img src="../public/img/diablo3-character-profile.jpg" alt="">
	        				<p>Mago elfo de nivel 4</p>
	        			</div>
	        		</a>
	        	</li>
	        </ul>
	        <h3>Crear un nuevo personajes</h3>
	        <ul id="createCharsheets">
	        	<li>
	        		<a href="charsheet-dd.html"><img src="../public/img/home/design-128.png" alt=""> Desde ficha tradicional</a>
	        	</li>
	        	<li>
	        		<a href="assistant/index.html"><img src="../public/img/home/add_user-128.png" alt="">Desde el asistente</a>
	        	</li>
	        </ul>
		</div>
	</body>
</html>