doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/css/style.css')
		link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css")
		//link(rel='stylesheet', href='/css/bootstrap.min.css')
		script(src="//code.jquery.com/jquery.js")
		
		
		block htmlhead
		
	body
		block content
	footer
		script(src="/js/bootstrap.min.js")