extends layout

block htmlhead
	link(rel='stylesheet', href='/stylesheets/signin.css')
	script(src="/javascripts/login.js")
	
block content
	.container
		form#loginForm.form-signin
			h2.form-signin-heading Please sign in
			
			input.form-control(name="user", id="user", type="text", placeholder="Email address", autofocus)
			input.form-control(name="password", id="password", type="password", placeholder="Password")
			
			label.checkbox Remember me
				input(type="checkbox", value="remember-me") 
			
			button#loginButton.btn.btn-lg.btn-primary.btn-block Go!
			
		#errorAlert.alert.alert-danger.alert-dismissable
				button.close(type="button", data-dismiss="alert" aria-hidden="true") &times;
				p placeholder

