.navbar.navbar-inverse(role="navigation")
	a.navbar-brand(href="/") Hegemon
	ul.nav.navbar-nav
		each val in section
			- if(val.active)
				li.active
					a(href="#{val.link}") #{val.name}
			- else
				li
					a(href="#{val.link}") #{val.name}
			
	ul.nav.navbar-nav.navbar-right
		li.dropdown
			a.dropdown-toggle(href="", data-toggle="dropdown") Account <b class="caret"></b>
			ul.dropdown-menu
				li
					a(href="#") Preferences (WIP)
				li
					a(href="/logout") Log out
	.col-xs-3.col-sm-3.col-md-3.col-lg-3.navbar-right
		form.navbar-form.input-group(role="search")
			input.form-control(type="text", placeholder="Search")
			.span.input-group-btn
				button.btn.btn-default(type="button") Go!
