<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../public/img/favicon.ico">

    <title>Hegemon</title>

    <link href="../public/css/core-styles.css" rel="stylesheet">
    <link href="../public/css/font-awesome.min.css" rel="stylesheet">

 </head>

  <body class="reference">

    <div class="navbar navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">Hegemon</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="info/overview.html">Overview</a></li>
            <li><a href="info/survey.html">Survey</a></li>
            <li><a href="info/feedback.html">Feedback</a></li>
            <li><a href="info/playground.html">Playground</a></li>
            <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">ediaz <i class="fa fa-caret-down"></i> <img src="../public/img/avatars/ed.jpg" class="profile"/></a>
              <ul class="dropdown-menu profile" role="menu">
                <li><a href="profile/profile.html"><i class="fa fa-user"></i> Profile</a></li>
                <li><a href="profile/preferences.html"><i class="fa fa-sliders"></i> Preferences</a></li>
                <li><a href="profile/support.html"><i class="fa fa-support"></i> Support</a></li>
                <li class="divider"></li>
                <li><a href="profile/upgrade.html"><i class="fa fa-check-circle-o"></i> Upgrade account</a></li>
                <li class="divider"></li>
                <li><a href="index.html"><i class="fa fa-power-off"></i> Log out</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="characters.html"><img src="../public/img/menu-icons/characters.png" />Characters</a></li>
            <li><a href="companies.html"><img src="../public/img/menu-icons/companies.png" />Companies</a></li>
            <li><a href="campaigns.html"><img src="../public/img/menu-icons/campaigns.png" />Campaigns</a></li>
            <li><a href="sessions.html"><img src="../public/img/menu-icons/session.png" />Sessions</a></li>
            <li class="active"><a href="reference.html"><img src="../public/img/menu-icons/reference.png" />Reference</a></li>
          </ul>
          <div id="legal"><small>© 2014 Hegemon<br /><a href="info/legal.html">Terms and conditions</a></small></div>
        </div>
        <div class="col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Reference</h1>
          <div class="row cards">
            <div class="col-xs-12">
              <input type="text" id="search" placeholder="Search all references..."/>
            </div>
            <div class="col-sm-4 col-md-3 col-lg-2">
                <a href="charsheet.html">
                <div>
                    <header>
                        <h2>Races</h2>
                        <p>Male human cleric.</p>
                    </header>
                    <img src="../public/img/menu-icons/races-b.png" />
                </div>
                </a>
            </div>
            <div class="col-sm-4 col-md-3 col-lg-2">
                <a href="charsheet.html">
                <div>
                    <header>
                        <h2>Classes</h2>
                        <p>Male human cleric.</p>
                    </header>
                    <img src="../public/img/menu-icons/classes-b.png" />
                </div>
                </a>
            </div>
            <div class="col-sm-4 col-md-3 col-lg-2">
                <a href="charsheet.html">
                <div>
                    <header>
                        <h2>Armory</h2>
                        <p>Male dwarf slave.</p>
                    </header>
                    <img src="../public/img/menu-icons/armory-b.png" />
                </div>
                </a>
            </div>
            <div class="col-sm-4 col-md-3 col-lg-2">
                <a href="charsheet.html">
                <div>
                    <header>
                        <h2>Bestiary</h2>
                        <p>Female elf ranger.</p>
                    </header>
                    <img src="../public/img/menu-icons/bestiary-b.png" />
                </div>
                </a>
            </div>
            <div class="col-sm-4 col-md-3 col-lg-2">
                <a href="charsheet.html">
                <div>
                    <header>
                        <h2>Spells</h2>
                        <p>Male human cleric.</p>
                    </header>
                    <img src="../public/img/menu-icons/magic-b.png" />
                </div>
                </a>
            </div>
            <div class="col-sm-4 col-md-3 col-lg-2">
                <a href="charsheet.html">
                <div>
                    <header>
                        <h2>Powers</h2>
                        <p>Male human cleric.</p>
                    </header>
                    <img src="../public/img/menu-icons/powers-b.png" />
                </div>
                </a>
            </div>
        </div>
        <h1 class="page-header">My library</h1>
          <div class="row cards">
            <div class="col-sm-4 col-md-3 col-lg-2">
                <a href="charsheet.html">
                <div>
                    <header>
                        <h2>Dropbox</h2>
                        <p>Male dwarf slave.</p>
                    </header>
                    <img src="../public/img/menu-icons/dropbox.png" />
                </div>
                </a>
            </div>
            <div class="col-sm-4 col-md-3 col-lg-2">
                <a href="charsheet.html">
                <div>
                    <header>
                        <h2>OneDrive</h2>
                        <p>Female elf ranger.</p>
                    </header>
                    <img src="../public/img/menu-icons/onedrive.png" />
                </div>
                </a>
            </div>
            <div class="col-sm-4 col-md-3 col-lg-2">
                <a href="charsheet.html">
                <div>
                    <header>
                        <h2>Google Drive</h2>
                        <p>Male human cleric.</p>
                    </header>
                    <img src="../public/img/menu-icons/gdrive.png" />
                </div>
                </a>
            </div>
            <div class="col-sm-4 col-md-3 col-lg-2 create">
                <a href=""><i class="fa fa-plus-circle"></i></a>
            </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../public/js/lib/jquery.min.js"></script>
    <script src="../public/js/lib/bootstrap.min.js"></script>
  </body>
</html>
