script(src="/javascripts/newCharsheetModal.js")

#newCharsheetModal.modal.fade(role="dialog", aria-hidden="true")
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
				h4.modal-title New character
			.modal-body
				
				form.form-horizontal(role="form")
					ul#myTab.nav.nav-tabs
						li
							a(href="#tab1", data-toggle="tab") General settings
						li
							a(href="#tab2", data-toggle="tab") Personal info
						li
							a(href="#tab3", data-toggle="tab") More
						li
							a(href="#tab4", data-toggle="tab") Other
					
					.tab-content
						#tab1.tab-pane.active
							#verticalSeparator
							p Here you can choose general settings of the new character. .....
							.radio
								label
									input#radio1(value="NPC", name="options", type="radio", checked, onclick="newCharsheetModal_disableOwnerSelection()")
									p Non-Playing Character
							.radio
								label
									input#radio2(value="PC", name="options", type="radio", onclick="newCharsheetModal_enableOwnerSelection()")
									p Playing Character
							fieldset#ownerSelection.form-group(disabled)
								label Owner
								select#inputOwner.form-control
									option - NPC -
									option Leandro
									option Esteban
									option Marijose
									option Natalia
						#tab2.tab-pane.control-group
							#verticalSeparator
							.form-group
								label Name*
								input#inputName.form-control.has-error(type="text")
							.form-group
								label Description
								textarea#inputDescription.form-control(rows="3")
							.form-group
								label Age
								input#inputAge.form-control(type="number")
							.form-group
								label Race*
								select#inputRace.form-control
									option Human
									option Klingon
									option Elf
						#tab3.tab-pane
							#verticalSeparator
							p :)
						#tab4.tab-pane
							#verticalSeparator
							p ;*
						

			.modal-footer
				button.btn.btn-default(type="button", onclick="newCharsheetModal_dismiss()") Cancel
				button.btn.btn-primary(type="button", onclick="newCharsheetModal_save()") Save changes