
.characters {
	.row.cards {
	  	div div {
	  		ul {
		      	list-style: none;
		      	padding: 0 0 2px 0; margin: 0;
		      	font-size: 0.6em;
		      	text-align: center;
		      	li {
		        	width: 15%; 
			        display: inline-block;
			        text-align: center;
			        b {
			          	background: #000;
			          	color: #fff;
			          	padding: 3px 0;
			          	text-align: center;
			          	width: 16px;
			          	display: inline-block;
			          	border-radius: 50%;
			          	margin-left: 2px;
		          	}
	        	}
	      	}
	    }
	}

    .charsheet .systemLogo {
      	width: 200px;
      	position: absolute;
     	top: 35px;
      	right: 20px;
    }
}